style.css
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    
    main {
      display: flex;
      flex: 1;
    }
    
    article {
      flex: 1;
    }
    
    nav,
    aside {
      /* 12em is the width of the side columns */
      flex: 0 0 12em;
    }
    
    body {
        padding: 0;
        margin: 0;
      }
      header,
      nav,
      article,
      aside,
      footer {
        padding: 5px;
      }
      header {
        background-color: #ffaa00;
      }
      nav {
        background-color: #f6be08;
      }
      article {
        background-color: #fb8507;
      }
      aside {
        background-color: #f6be08;
      }
      footer {
        background-color: #ffaa00;
      }
    